NODE_ENV=development

#your app port
PORT=3000

#your mongo connection options
MONGO_DB_CONNECTION_TYPE=mongodb or mongodb+srv
MONGO_DB_NAME=my_db
MONGO_DB_HOST=localhost
MONGO_DB_USER=user
MONGO_DB_PASS=pass

SECRET=<SECRET>